<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~layout/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h3>th:block 예제</h3>
   <th:block th:each="user:${users}"> 
      <div>
         이름 : <span th:text="${user.username}"></span>
         나이 : <span th:text="${user.age}"></span>
      </div>
   </th:block>
  <hr>
   <div th:each="user:${users}">
      이름 : <span th:text="${user.username}"></span>
      나이 : <span th:text="${user.age}"></span>
   </div>
     <hr>
   요약 <span th:text="${users[0].username} + ' / ' + ${users[0].age}"></span><br>
   요약 <span th:text="|${users[0].username} / ${users[0].age}|"></span><br>

</body>
</html>